 body {
   background: #f4f6fb;
 }

 /* LEFT */
 .cart-item {
   flex: 2;
   margin-top: 6rem;

   h2 {
     color: var(--first-color);
     font-weight: bold;
   }

   .total {
     background-color: var(--second-color);
     color: white;
     margin-top: 2rem;
     border-radius: 10px;
     padding: 15px;
   }
 }

 .item {
   background: #fff;
   border-radius: 10px;

   img {
     width: 100px;
     height: 100px;
     border-radius: 10px;
     object-fit: cover;
   }

   .info {
     padding: 0 25px;
     flex: 1;
   }

   .inc-dec button {
     border: 1px solid #e2e2e2;
     border-radius: 5px;
     padding: 2px 8px;
     font-size: 14px;
     background-color: transparent;
   }

   .inc-dec span {
     padding: 7px;
   }


 }