@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

body {
  font-family: "Almarai", serif;
  background: #f4f6fb;
  overflow-x: hidden;
  direction: rtl;
}

h1, h2, h3, h4, h5, h6, a, p {
  font-family: "Almarai", serif;
}